<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="pt-br">
<head>
    <div th:replace="~{pv/script::header (title=${'Criar Produto'})}"></div>

    <!-- CSS -->
    <link href="/css/observacao.css" rel="stylesheet">

    <link href="/css/produto_cliente.css" rel="stylesheet">
    <!-- JS -->
    <script src="/js/cadastrados.js" defer></script>
    <script src="/js/observacao.js" defer></script>
    <script src="/js/criar_produto.js" defer></script>

</head>
<body>
<div th:replace="~{pv/navbar.html :: vendedor}"></div>

<div class="container">
    <h2 class="mt-4">Criar Produto</h2>
    <p class="mb-3">Registre uma mercadoria sua aqui</p>
    <div class="row container">
        <div class="col-6">
            <div class="input-group mb-3">
                <label class="input-group-text" for="nome">Nome</label>
                <input type="text" class="form-control" placeholder="Insira um nome" id="nome" name="nome">
            </div>
            <div th:replace="~{pv/script.html :: pv_obs (v_tipo=${'descricao_pedido'},v_titulo=${'Descrição:'},v_texto=${''})}"></div>
            <div class="input-group mb-3">
                <label class="input-group-text" for="preco">Preço</label>
                <input type="number" class="form-control" placeholder="Insira o preço" id="preco" name="preco">

                <label class="input-group-text" for="unidade">R$/</label>
                <input type="text" class="form-control" maxlength="7" placeholder="unidade" value="un" id="unidade" name="unidade">
            </div>
        </div>
        <div class="col-6">
            <div class="input-group mb-3">
                <label class="input-group-text" for="url_icone">Imagem</label>
                <input type="text" class="form-control" placeholder="Insira um link à imagem do produto" id="url_icone" name="url_icone">
            </div>
            <div class="col-4 text-center container" style="min-width: 50vh">
                <img class="imagem_produto" alt="Imagem do produto">
            </div>
        </div>
    </div>
    <hr>
    <div class="row container">
        <div class="col-6">
            <div class="input-group mb-3">
                <label class="input-group-text" for="estoque_minimo">Estoque Mínimo</label>
                <input type="number" class="form-control" placeholder="Insira o estoque mínimo para alertar" id="estoque_minimo" name="estoque_minimo">
            </div>
        </div>
        <div class="col-4">
            <div class="form-check">
                <input class="form-check-input" type="checkbox" value="" id="disponivel">
                <label class="form-check-label" for="disponivel">
                    Disponível
                </label>
            </div>
        </div>
        <div class="col">
            <button class="btn btn-primary" id="btn-criar-produto">Criar Produto</button>
        </div>
    </div>
</div>
</body>
</html>