<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="pt-br">
<head>
    <div th:replace="~{pv/script::header (title=${'Gerir Saldo'})}"></div>

    <!-- CSS -->
    <link href="/css/gerir_saldo.css" rel="stylesheet">
    <!-- JS -->
    <script src="/js/cadastrados.js" defer></script>
    <script src="/js/gerir_saldo.js" defer></script>
</head>
<body>
<!-- Navbars --->
<div class="sticky-top"><div th:replace="~{pv/navbar.html :: vendedor}"></div></div>

<div class="container">
    <h2 class="mt-4">Gerir Saldo</h2>
    <p class="mb-3">É possível manipular o saldo de clientes aqui, pergunte para o cliente seu nome de usuário ou e-mail.</p>
    <div class="row">
        <div class="col-6">
            <div class="input-group mb-3">
                <label class="input-group-text" for="cliente">Cliente</label>
                <input type="text" class="form-control" placeholder="Insira o e-mail/nome do cliente para manipular o saldo." id="cliente" name="cliente">
            </div>
        </div>
        <div class="col-6">
            <div class="input-group mb-3">
                <label class="input-group-text" for="quantidade">Quantidade</label>
                <input type="number" min="0" class="form-control" placeholder="Insira a quantidade de saldo." id="quantidade" name="quantidade">
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col btn_func">
            <button class="btn btn-primary btn_func" id="btn_add_saldo">Adicionar Saldo por quantidade</button>
        </div>
        <div class="col btn_func">
            <button class="btn btn-danger btn_func" id="btn_rem_saldo">Remover Saldo por quantidade</button>
        </div>

        <div class="col btn_func">
            <button class="btn btn-secondary btn_func" id="btn_vazio_saldo">Esvaziar Saldo</button>
        </div>
        <div class="col btn_func">
            <button class="btn btn-info btn_func" id="btn_insp_saldo">Inspecionar Saldo</button>
        </div>
        <div class="col btn_func">
            <button class="btn btn-info btn_func" id="btn_insp_trans">Inspecionar Transações</button>
        </div>
    </div>
</div>
</body>
</html>