<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="pt-br">
<head>
    <div th:replace="~{pv/script::header (title=${'Cadastro do Cliente'})}"></div>

    <!-- JS -->
    <script src="/js/formularios.js" defer></script>
</head>
<body>
    <!-- Navbars --->
    <div class="sticky-top"><div th:replace="~{pv/navbar.html :: sem_registro}"></div></div>

    <div class="container">
        <h2 class="mt-4">Cadastro</h2>
        <p class="mb-3">é obrigatório preencher todos os campos</p>
        <form action="/cadastro" method="POST">
            <div class="row container">
                <div class="col-6">
                    <div class="input-group mb-3">
                        <label class="input-group-text" for="nome">Usuário</label>
                        <input type="text" class="form-control" placeholder="Insira um nome" id="nome" name="nome">
                    </div>
                </div>
                <div class="col-6">
                    <div class="input-group mb-3">
                        <label class="input-group-text" for="email">E-mail</label>
                        <input type="email" class="form-control" placeholder="Insira seu endereço de e-mail" id="email" name="email">
                    </div>
                </div>
                <div class="col-6">
                    <div class="input-group mb-3">
                        <label class="input-group-text" for="senha">Senha</label>
                        <input type="password" class="form-control" placeholder="Insira uma senha" id="senha" name="senha">
                    </div>
                </div>
                <div class="col-6">
                    <div class="input-group mb-3">
                        <label class="input-group-text" for="conf_senha">Confirmar</label>
                        <input type="password" class="form-control" placeholder="Insira novamente sua senha" id="conf_senha" name="conf_senha">
                    </div>
                </div>
                <div class="col-2 text-end">
                    <button type="button" class="btn btn-primary" id="f-cadastro">Cadastrar</button>
                </div>
            </div>
        </form>
    </div>
</body>
</html>