<div xmlns:th="http://www.thymeleaf.org">
    <p><b>Nome: </b><span th:text="${usuario.nome}"></span></p>
    <p><b>Telefone: </b><span th:text="${usuario.telefone}"></span></p>
    <p><b>E-mail: </b><span th:text="${usuario.email}"></span></p>

    <th:block th:if='${dados_responsaveis==null}'><b class="mt-4">Este usuário não possuí dados do responsável</b></th:block>
    <div th:if='${dados_responsaveis!=null}' th:each="responsavel :${dados_responsaveis}">
        <hr>
        <p><b>Nome: </b><span th:text="${responsavel.nome}"></span></p>
        <p><b>Filiação: </b><span th:text="${responsavel.filiacao}"></span></p>
        <p><b>Contato: </b><span th:text="${responsavel.contato}"></span></p>
    </div>
</div>