<html xmlns:th="http://www.thymeleaf.org">
<meta charset="UTF-8">
<div th:fragment="cabecario_email" style="width:100%;background:#5080ff;color:#ffffff;">
    <h1>Gelato</h1>
</div>
<div style="margin:auto;background:#5080ff40;width:80%;border-radius:10px;position:relative;color:#400080;padding:1em;border-color:#0000ff;">
    <h2>Olá <span th:text="${v_acesso.usuario.nome}"></span>, bem vindo ao Gelato!</h2>
    <p>Clique neste botão para verificar sua conta e começar a comprar. <b>Caso não tenha criado essa conta, por favor denuncie respondendo este e-mail.</b></p>
    <div style="width:100%;">
        <div style="background: #0000ff;margin:auto;width:fit-content;padding:0.5em;border-radius:10px;">
            <a style="color: #ffffff;" th:href="${v_acesso}">Verificar conta</a>
        </div>
    </div>
</div>
    <th:block th:fragment="fim_email">
        <hr>
        <div style="background:#5080ff;align:text-center;">
            <div style="height:1em;"></div>
            <p style="text-align:center;color:#ffffff">Gelato 2024-2025 - TCC de TDS</p>
            <div style="height:1em;"></div>
        </div>
    </th:block>
</html>