<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="pt-br">

<li th:fragment="nav-item (href,text)" class="nav-item">
  <a class="nav-link" th:href="${href}" th:text="${text}"></a>
</li>

<li th:fragment="nav-logout" class="nav-item">
  <a class="nav-link btn btn-danger" id="logout">Log out</a>
  <form id="logout_form" action="/logout" method="GET"></form>
</li>

<nav class="navbar navbar-expand-lg" th:fragment="sem_registro">
  <div class="container-fluid">
    <a class="navbar-brand" href="/">Gelato</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li th:replace="~{ :: nav-item (href=${'/catalogo'}, text=${'Catálogo'})}"></li>
        <li th:replace="~{ :: nav-item (href=${'/cadastro'}, text=${'Cadastre-se'})}"></li>
        <li th:replace="~{ :: nav-item (href=${'/login'}, text=${'Log-in'})}"></li>
      </ul>
    </div>
  </div>
</nav>

<nav class="navbar navbar-expand-lg" th:fragment="cliente (v_navbar)">
  <div class="container-fluid">
    <a class="navbar-brand" href="/">Gelato</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li th:replace="~{ :: nav-item (href=${'/catalogo'}, text=${'Catálogo'})}"></li>
      </ul>
    <div class="d-flex">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li th:replace="~{ :: nav-item (href=${'/carrinho'}, text=${'Carrinho: '+v_navbar.quantidade_compras+' Compra(s)'})}"></li>
        <li th:replace="~{ :: nav-item (href=${''}, text=${'Saldo: $'+v_navbar.saldo})}"></li>
        <li th:replace="~{ :: nav-item (href=${'/redefinir-senha'}, text=${'Redefinir Senha'})}"></li>
        <li th:replace="~{ :: nav-logout}"></li>
      </ul>
    </div>
    </div>
  </div>
</nav>

<nav class="navbar navbar-expand-lg" th:fragment="vendedor">
  <div class="container-fluid">
    <a class="navbar-brand" href="/">Gelato</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li th:replace="~{ :: nav-item (href=${'/catalogo'}, text=${'Catálogo'})}"></li>
        <li th:replace="~{ :: nav-item (href=${'/gerir_saldo'}, text=${'Gerir Saldo'})}"></li>
        <li th:replace="~{ :: nav-item (href=${'/pedidos'}, text=${'Pedidos'})}"></li>
      </ul>
      <div class="d-flex">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li th:replace="~{ :: nav-item (href=${'/redefinir-senha'}, text=${'Redefinir Senha'})}"></li>
          <li th:replace="~{ :: nav-logout}"></li>
        </ul>
      </div>
    </div>
  </div>
</nav>

<div th:fragment="navbar_cargo (v_usuario,v_navbar)">
<div th:if="${v_usuario}==null" class="sticky-top"><div th:replace="~{ :: sem_registro}"></div></div>
<div th:unless="${v_usuario}==null" class="sticky-top">
  <div th:if="${v_usuario.cargo.toString()=='CLIENTE'}"><div th:replace="~{ :: cliente (v_navbar=${v_navbar})}"></div></div>
  <div th:if="${v_usuario.cargo.toString()=='VENDEDOR'}"><div th:replace="~{ :: vendedor}"></div></div>
</div>
</div>