<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="pt-br">

<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.5/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-SgOJa3DmI69IUzQ2PVdRZhwQ+dy64/BUtbMJw1MZ8t5HZApcHrRKUc4W0kG879m7" crossorigin="anonymous">
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.5/dist/js/bootstrap.bundle.min.js" integrity="sha384-k6d4wzSIapyDyv1kpU366/PK5hCdSbCRGRCMv+eplOQJWyd1fbcAu9OCUj5zNLiq" crossorigin="anonymous"></script>

<!-- Catálogo -->
<button th:fragment="pv_produto (v_produto)" class="btn_produto">
    <h5 class="container" th:text="${v_produto.nome}"></h5>
    <img class="icone" th:src="${v_produto.url_icone}">
    <p th:text="${'R$'+v_produto.preco+'/'+v_produto.medida}"></p>
    <p class="d-none id_produto" th:text="${v_produto.id}"></p>
</button>

<!-- Tela do produto -->
<div class="col" th:fragment="sem_estoque">
    <p>Não há estoque disponível deste produto no momento.</p>
</div>

<!-- Carrinho -->
<div th:fragment="pv_item_do_carrinho (v_compra)" class="item row">
    <div class="col-3 imagem text-center">
        <img class="icone" th:src="${v_compra.produto.url_icone}">
    </div>
    <div class="col">
        <h5 class="row"><span class="col-11" th:text="${v_compra.quantidade+' '+v_compra.produto.medida+'(s) de '+v_compra.produto.nome}"></span>
            <div class="text-end col"><button class="btn btn-close"></button></div>
        </h5>

        <p th:text="${'R$'+v_compra.preco+'/'+v_compra.produto.medida+' (Total: R$'+(v_compra.preco*v_compra.quantidade)+')'}"></p>
        <p th:text="${'Às '+#temporals.format(v_compra.horario, 'HH:mm, dd-MM-yyyy')}"></p>
    </div>
    <p class="d-none id_compra" th:text="${v_compra.id}"></p>
</div>