<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="pt-br">

<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.5/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-SgOJa3DmI69IUzQ2PVdRZhwQ+dy64/BUtbMJw1MZ8t5HZApcHrRKUc4W0kG879m7" crossorigin="anonymous">
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.5/dist/js/bootstrap.bundle.min.js" integrity="sha384-k6d4wzSIapyDyv1kpU366/PK5hCdSbCRGRCMv+eplOQJWyd1fbcAu9OCUj5zNLiq" crossorigin="anonymous"></script>

<!-- Catálogo -->
<button th:fragment="pv_produto (v_produto)" th:class="${'btn_produto'+(v_produto.disponivel?'':' indisponivel')}">
    <h5 class="container" th:text="${v_produto.nome}"></h5>
    <img class="icone" th:src="${v_produto.url_icone}">
    <p th:text="${'R$'+v_produto.preco+'/'+v_produto.medida}"></p>
    <p class="d-none id_produto" th:text="${v_produto.id}"></p>
</button>

<!-- Tela do produto -->
<div class="col" th:fragment="sem_estoque">
    <p>Não há estoque disponível deste produto no momento.</p>
</div>

<!-- Carrinho -->
<div th:fragment="pv_item_do_carrinho (v_compra, v_removivel)" class="item row">
    <div class="col-3 imagem text-center">
        <img class="icone" th:src="${v_compra.produto.url_icone}">
    </div>
    <div class="col">
        <h5 class="row"><span class="col-11" th:text="${v_compra.quantidade+' '+v_compra.produto.medida+'(s) de '+v_compra.produto.nome}"></span>
            <div th:if="${v_removivel}" class="text-end col"><button class="btn btn-close remover-item"></button></div>
        </h5>

        <p th:text="${'R$'+v_compra.preco+'/'+v_compra.produto.medida+' (Total: R$'+(v_compra.preco*v_compra.quantidade)+')'}"></p>
        <p th:text="${'Às '+#temporals.format(v_compra.horario, 'HH:mm, dd-MM-yyyy')}"></p>
    </div>
    <p class="d-none id_compra" th:text="${v_compra.id}"></p>
</div>

<!-- PEDIDO -->
<div th:fragment="pv_pedido (v_pedido)" class="col-6 row retrair-parent pedido">
    <h5><span th:text="${v_pedido.ticket+' de '+v_pedido.nome_cliente}"></span><button class="btn-retrair retraido"></button></h5>
    <div class="retraivel row d-none">
        <p class="col-6"><b>Encaminhado às: </b><span th:text="${#temporals.format(v_pedido.horario_encaminhado, 'HH:mm, dd-MM-yyyy')}"></span></p>
        <p class="col-6"><b>Total: </b><span th:text="${v_pedido.preco}"></span>R$</p>
        <p class="col-6"><b>Retirada às: </b><span th:text="${#temporals.format(v_pedido.horario_retirada, 'HH:mm, dd-MM-yyyy')}"></span></p>
        <p class="col-6"><b>Tempo até retirada: </b><span th:class="${(v_pedido.contagem_negativa)?'neg':''}" th:text="${v_pedido.contagem_retirada.getDays()+' dia(s), '+v_pedido.contagem_retirada.getHours()+' hora(s) e '+v_pedido.contagem_retirada.getMinutes()+' minuto(s)'}"></span></p>
        <div class="retrair-parent row"><b class="col-11">Obs.:</b><button class="btn-retrair retraido col-1"></button>
            <p class="retraivel d-none" th:text="${v_pedido.observacao}"></p></div>
        <div class="retrair-parent row"><b class="col-11">Pedido</b><button class="btn-retrair btn-obter-pedido retraido col-1"></button>
            <div class="retraivel d-none info_pedido">Carregando...</div></div>
        <div class="row container p-2">
            <div class="col">
                <button class="btn_contato_cliente btn btn-info">Contato do cliente</button>
            </div>
            <th:block th:if="${v_pedido.status.toString()!='CANCELADO'}">
                <div class="col">
                    <button th:if="${v_pedido.status.toString()=='ENCAMINHADO'}" class="btn_recebido btn btn-success">Declarar como recebido</button>
                    <button th:if="${v_pedido.status.toString()=='RECEBIDO'}" class="btn_preparado btn btn-success">Declarar como preparado</button>
                    <button th:if="${v_pedido.status.toString()=='PREPARADO'}" class="btn_entregue btn btn-success">Declarar como entregue</button>
                </div>
                <div class="col">
                    <button class="btn_canc_pedido btn btn-danger">Cancelar</button>
                </div>
            </th:block>
        </div>
    </div>
    <p class="d-none id_ticket" th:text="${v_pedido.id_ticket}"></p>
    <p class="d-none nome_cliente" th:text="${v_pedido.nome_cliente}"></p>
</div>