<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="pt-br">
<head>
    <div th:replace="~{pv/script::header (title=${'Carrinho (Ticket: '+ticket.ticket+')'})}"></div>

    <!-- CSS -->
    <link href="/css/carrinho_cliente.css" rel="stylesheet">
    <!-- JS -->
    <script src="/js/cadastrados.js" defer></script>
    <script src="/js/carrinho.js" defer></script>
</head>
<body>
<!-- Navbars --->
<div class="sticky-top"><div th:replace="~{pv/navbar.html :: cliente (v_navbar=${m_navbar})}"></div></div>

<div class="container" th:if="${carrinho.size > 0}">
    <h4 th:text="${'Ticket: '+ticket.ticket}"></h4>
    <div th:each="item_do_carrinho : ${carrinho}">
        <div th:replace="~{pv/produto.html :: pv_item_do_carrinho (v_compra=${item_do_carrinho})}"></div>
    </div>

    <h4 th:text="${'Total: R$'+total}"></h4>
</div>
<div class="container" th:unless="${carrinho.size > 0}">
    <h4 class="mt-4" th:text="${'Ticket: '+ticket.ticket}"></h4>
    <p>Esse valor é único ao seu pedido e serve para apresentar ao vendedor na retirada, poderá vê-lo a qualquer etapa.</p>
    <h2>Seu carrinho está vazio!</h2>
    <h3><a href="/catalogo">Retorne para o catálogo</a> para continuar comprando</h3>
</div>
</body>
</html>