div.produto {
    min-width: 12em;
    min-height: 10em;
    align-content: center;
}

div.produto > button.btn_produto {
    max-width: 12em;
    min-height: 10em;
    border-radius: 1em;
    border-style: hidden;
    background: linear-gradient(#4488FF,transparent);
}

button.btn_produto > h5 {
    color: #FFFFFF;
    font-size: 1em;
    font-weight: 300;
}