div.btn_func, button.btn_func {
    height: 10vh;
    min-width: 10vw;
    max-width: 20vw;
    text-align: center;
    align-content: center;
}

div.row {
    flex-wrap: wrap;
    align-content: center;
}

div.consulta {
    border-style: solid;
    border-width: 2px;
    border-radius: 10px;
    border-color: #CCCCCC;
    background: #FFFFFF;
    margin: 1%;
    width: 48%;
}

p.pos {
    color: #008800;
}
p.pos > b {
    color: #004400;
}
p.pos:before {
    content: "+";
}

p.neg {
    color: #CC0000;
}
p.neg > b {
    color: #880000;
}
p.neg:before {
    content: "-";
}

div.consulta-container {
    border-style: solid;
    border-width: 2px;
    border-radius: 10px;
    border-color: #CCBBEE;
    background: #EEEEF8;
    margin: 1%;
    width: 100%;
}

div.consulta-container > h5 {
    color: #6820E0;
}

div.consulta.invalida > p,
div.consulta.invalida > p > b{
    color: #888888;
}