div.btn_func, button.btn_func {
    height: 10vh;
    min-width: 10vw;
    max-width: 20vw;
    text-align: center;
    align-content: center;
}

div.row {
    flex-wrap: wrap;
    align-content: center;
}

div.consulta {
    border-style: solid;
    border-width: 2px;
    border-radius: 10px;
    border-color: #CCCCCC;
}