nav {
    background-color: #5080ff !important;
}

a.navbar-brand, a.nav-link{
    color: #ffffff !important;
}

p.aviso_produto_icone {
    margin: 0;
    padding-left: 1em;
    font-size: 1em;
    border-radius: 10px;
    border-style: solid;
    border-width: 2px;
    padding: 0.5em;
    color: #FFFFFF;
    background: #000000;
}

img.imagem_produto {
    max-width: 40vh;
    height: 40vh;
    border-style: solid;
    border-width: 2px;
    border-color: #FFFFFF;
    margin-bottom: 10%;
}

div.info_produto {
    background: linear-gradient(#A0C0ff88,#A0C0ff00);
    border-radius: 1em;
    padding: 1em;
    border-color: #00008F;
    border-width: 2px;
    border-style: solid;
    height: 100%;
}