nav {
    background-color: #5080ff !important;
}

a.navbar-brand, a.nav-link{
    color: #ffffff !important;
}

img.icone {
    max-width: 10em;
    max-height: 10em;
    border-radius: 1em;
}

a.navbar-brand:focus, a.nav-link:focus {
    background-color: #ffffff;
    border-radius: 0px;
    color: #5080ff !important;
}

.btn-retrair {
    background: #00000000;
    border-style: none;
    font-size: 24px;
    color: #000000;
    margin: 0;
    text-align: right;
}
.btn-retrair:not(.retraido)::before {
    content: "🞃"
}
.btn-retrair.retraido::before {
    content: "🞀"
}