<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="pt-br">
<head>
    <div th:replace="~{pv/script::header (title=${'Catálogo'})}"></div>

    <!-- CSS -->
    <link href="/css/catalogo_cliente.css" rel="stylesheet">
    <th:block th:if="${usuario}!=null"><link th:if="${usuario.getCargo().toString()}=='VENDEDOR'" href="/css/catalogo_vendedor.css" rel="stylesheet"></th:block>
    <!-- JS -->
    <script th:if="${usuario}!=null" src="/js/cadastrados.js" defer></script>
</head>
<body>
<div th:replace="~{pv/navbar.html :: navbar_cargo (v_usuario=${usuario},v_navbar=${m_navbar})}"></div>

<div class="container">
    <th:block th:if="${usuario}==null">
        <h4 class="mt-4"><a href="/cadastro">Crie uma conta</a> ou <a href="/login">entre em uma</a> para poder comprar, você pode explorar o catálogo por enquanto.</h4>
        <p>Veja nosso cardápio abaixo.</p>
    </th:block>
    <th:block th:if="${usuario}!=null">
        <h4 class="mt-4" th:unless="${usuario}==null">Seja bem vindo(a), <span th:text="${usuario.nome}"></span>!</h4>
        <p th:if="${usuario.getCargo().toString()}=='CLIENTE'">Veja nosso cardápio abaixo e escolha o que deseja pedir.</p>
        <th:block th:if="${usuario.getCargo().toString()}=='VENDEDOR'">
            <p>Confira como está seu cardápio abaixo.</p>
            <a class="btn btn-primary" href="/criar_produto">Criar Produto</a>
        </th:block>
        <p th:if="${usuario.verificado}==false">Verifique sua conta pelo e-mail enviado para '<span th:text="${usuario.email}"></span>' para comprar.</p>
    </th:block>

    <div class="row container mt-3">
        <div class="produto col-1" th:each="produto : ${produtos}">
            <div th:replace="~{pv/produto.html :: pv_produto (v_produto=${produto})}"></div>
        </div>
    </div>
</div>
</body>
</html>