<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="pt-br">
<head>
    <div th:replace="~{pv/script::header (title=${'Catálogo'})}"></div>

    <!-- CSS -->
    <link href="/css/catalogo_cliente.css" rel="stylesheet">
    <!-- JS -->
    <script th:if="${usuario}!=null" src="/js/cadastrados.js" defer></script>
    <script src="/js/catalogo_cliente.js" defer></script>
</head>
<body>

<!-- Navbars --->
<div class="sticky-top" th:replace="~{pv/navbar.html :: navbar_cargo (v_usuario=${usuario},v_navbar=${m_navbar})}"></div>

<div class="container">
    <h4 class="mt-4" th:if="${usuario}==null"><a href="/cadastro">Crie uma conta</a> ou <a href="/login">entre em uma</a> para poder comprar, você pode explorar o catálogo por enquanto.</h4>
    <h4 class="mt-4" th:unless="${usuario}==null">Seja bem vindo(a), <span th:text="${usuario.nome}"></span>!</h4>
    <p>Veja o cardápio abaixo e escolha o que deseja pedir.</p>

    <div class="row container mt-3">
        <div class="produto col-1" th:each="produto : ${produtos}">
            <div th:replace="~{pv/produto.html :: pv_produto (v_produto=${produto})}"></div>
        </div>
    </div>
    <form method="GET"></form>
</div>
</body>
</html>