<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="pt-br">
<head>
    <div th:replace="~{pv/script::header (title=${'Vendo '+produto.nome})}"></div>

    <!-- CSS -->
    <link href="/css/produto_cliente.css" rel="stylesheet">
    <!-- JS -->
    <th:block th:if="${usuario}!=null">
        <script src="/js/cadastrados.js" defer></script>
        <script th:if="${usuario.cargo.toString()}=='CLIENTE'" src="/js/produto_cliente.js" defer></script>
        <script th:if="${usuario.cargo.toString()}=='VENDEDOR'" src="/js/produto_vendedor.js" defer></script>
    </th:block>
</head>
<body>
<div th:replace="~{pv/navbar.html :: navbar_cargo (v_usuario=${usuario},v_navbar=${m_navbar})}"></div>

<div class="container">
    <p th:text="${produto.id}" class="d-none" id="id_produto"></p>
    <h2 th:text="${produto.nome+(produto.disponivel?'':' (Indisponível)')}" class="mt-2 mb-3"></h2>
    <div class="row">
        <div class="col-4 text-center container" style="min-width: 50vh">
            <img class="imagem_produto" th:src="${produto.url_icone}">
        </div>
        <div class="col info_produto">
            <h3 th:text="${'R$'+produto.preco+'/'+produto.medida}"></h3>
            <p th:text="${produto.descricao}"></p>

            <th:block th:if="${usuario}==null">
                <div class="row" th:if="${estoque}>0 and ${produto.disponivel}">
                    <div class="col">
                        <p>Cadastre-se para comprar.</p>
                    </div>
                    <div class="col">
                        <p th:text="${produto.medida+'(s) ('+{estoque}+' em estoque)'}"></p>
                    </div>
                </div>

                <div class="row" th:if="${estoque}==0">
                    <div th:replace="~{pv/produto :: sem_estoque}"></div>
                </div>
            </th:block>
            <th:block th:unless="${usuario}==null">
                <div class="row" th:if="${usuario.cargo.toString()}=='VENDEDOR'">
                    <div class="col">
                        <button class="btn btn-primary" id="btn_estoque">Adicionar ao Estoque</button>
                    </div>
                    <div class="col">
                        <p><input type="number" value="1" id="qtd_e"> <span th:text="${produto.medida+'(s) ('+{estoque}+' em estoque) insira quantidades negativas para remover estoque'}"></span></p>
                    </div>
                    <a class="btn btn-primary" th:href="${'/alterar_produto/'+produto.id}">Alterar produto</a>
                </div>

                <div class="row" th:if="${estoque}>0 and ${usuario.cargo.toString()}=='CLIENTE' and ${produto.disponivel}">
                    <div class="col">
                        <button class="btn btn-primary" id="btn_comprar">Adicionar ao Carrinho</button>
                    </div>
                    <div class="col">
                        <p><input type="number" min="0" th:max="${estoque}" value="1" id="qtd"> <span th:text="${produto.medida+'(s) ('+{estoque}+' em estoque)'}"></span>
                            <span th:if="${qtd_produto_carrinho}>0" th:text="${qtd_produto_carrinho+' no carrinho'}"></span></p>
                    </div>
                </div>

                <div class="row" th:if="${estoque}==0 and ${usuario.cargo.toString()}=='CLIENTE'">
                    <div th:replace="~{pv/produto :: sem_estoque}"></div>
                </div>
            </th:block>
        </div>
    </div>
</div>
</body>
</html>